<%-include("./includes/head") %>
<%-include("./includes/nav") %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-5">
            <% if(userLogado) {%>
                <h2 class="text-center">Bem-vindo <%= userLogado.email%></h2>
                <p class="text-center lead">Para cadastrar seus contatos, é só clicar no link acima</p>
                <%-include("includes/messages")%>
            <%} else {%>

                <h2 class="text-center">Faça login por aqui</h2>
                <p class="text-center lead">Projeto agenda</p>
                <%-include("./includes/messages")%>
    
                <div class="row">
                    <div class="col-lg my-5">
                        <h4>Faça seu login aqui</h4>
                        <p>Para acessar sua agenda telefônica, entre por aqui!</p>
                        
                        <form action="/login" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                            <div class="mb-3">
                                <labelclass="form-label">Email address</label>
                                <input name="email" type="email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input name="password" type="password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </form>
            <%}%>
                </div>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%-include("./includes/footer")%>